.chart-container {
    width: 1100px;
    height: 600px;
}

.chart-filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chart-filter {
    direction: rtl;
    padding: 5px;
    border-radius: 8px;
}
