.filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-button {
    height: 40px;
    min-width: 60px;
    width: auto;
    max-width: none;
    flex: 0 0 auto;
    white-space: nowrap;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1691D0;
    /* background: linear-gradient(20deg, rgb(32, 106, 167) 0%, rgb(62, 136, 197) 63%, rgb(82, 156, 217) 100%); */
    border: 2px solid #0f6fa0;
    border-radius: 24px;
    transition: background-color 0.2s, border-color 0.2s;
}

.filter-button:hover {
    cursor: pointer;
    color: white;
    text-decoration: none;
    background-color: #1272a8;
    border-color: #0c567d;
}

.filter-button.active {
    background-color: #15508A;
    border-color: #0e3e63;
}

.mrn-filter {
    background-color: #1691D0;
    border: 2px solid #0f6fa0;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
}

.mrn-filter input[type="text"] {
    border-radius: 4px;
    padding: 6px;
    border: 1px solid #ddd;
}