table {
    width: 100%;
    /* direction: rtl; */
    border-collapse: collapse;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

tr {
    background-color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #1691D0;
    color: white;
}

tr:hover {
    cursor: pointer;
    filter: brightness(0.9);
    transition: filter 0.4s ease;

}

.grey {
    background-color: #f1f1f1;
}

.green {
    background-color: #d4edda;
}

.yellow {
    background-color: #fff3cd;
}

.red {
    background-color: #f8d7da;
    color: #721c24;
    font-weight: bold;
}

.white {
    background-color: white;
}

.transparent {
    background-color: transparent;
}

tbody.pair:hover {
    cursor: pointer;
    filter: brightness(1);
    transition: filter 0.4s ease;
}

tr.pair {
    background-color: transparent;
}

tr.pair:hover {
    cursor: default;
    filter: brightness(1);
    transition: filter 0.4s ease;
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: mixed;
}